<form action="/signup" method="post">
	<label for ="name">Name</label>
	<input id="name" type="text" name="name"><br />
	<label for ="username">Username</label>
	<input id="username" type="text" name="username"><br />
	<label for ="password">Password</label>
	<input type="password" name="password">
	
	<label for ="password_confirmation">Confirm Password</label>
	<input id="password_confirmation" type="password" name="password_confirmation">
	<input type="submit" value="Sign Up">
</form>

<% if @user && @user.errors.any? %>
	<% @user.errors.full_messages.each do |e|%>
		<p><%= e %></p>
	<% end %>
<% end %>