<% if !!@message %>
<p>uh oh <%= @message %> </p>
<% end %>

<form action="/readings" method="post">

Title
<div class="mdc-text-field">
  <input class="mdc-text-field__input" id="text-field-hero-input" name="title">
  <div class="mdc-line-ripple"></div>
  <label for="title" class="mdc-floating-label">Title</label>
</div>

URL
<div class="mdc-text-field">
  <input class="mdc-text-field__input" id="text-field-hero-input" name="url">
  <div class="mdc-line-ripple"></div>
  <label for="url" class="mdc-floating-label">URL</label>
</div>


<!-- 	<label for ="title">title</label>
	<input id="title" type="text" name="title"><br /> -->
<!-- 	<label for ="url">url</label>
	<input id="url" type="text" name="url"><br />
	<label for ="notes">notes</label>
	<textarea id="notes" type="textarea" name="notes" cols="30" rows="5">text here</textarea><br /> -->

<br />
<br />

Notes
<div class="mdc-text-field text-field mdc-text-field--textarea">
	<textarea id="name" class="mdc-text-field__input" maxlength="18" name="notes">
	</textarea>
	<div class="mdc-notched-outline mdc-notched-outline--upgraded">
		<div class="mdc-notched-outline__leading"></div>
	<div class="mdc-notched-outline__notch" style="">
		<label class="mdc-floating-label" for="name" style=""></label>
	</div>
	<div class="mdc-notched-outline__trailing"></div>
</div>
</div>

<br />

	<input type="submit" value="submit">
</form>