<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="template">
  <title>readme limbo</title>

  <link rel="stylesheet" href="css/style.css">
  <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

</head>

<body class="mdc-typography">
  <h1 class="mdc-typography--headline1><a href="/">README LIMBO</a></h1>
	
	<%=yield%>
	
	<% if logged_in? %>

	<form action ="/readings" method="get" class="get">
	<button class="mdc-button mdc-button--outlined" value="readings">
		readings
	</button>
	</form>

		<form action ="/logout" method="post" class="logout">
			<input type="hidden" name="_method" value="delete">
			<button class="mdc-button mdc-button--outlined" value="logout">logout</button>
		</form>

	<form action ="/" method="get" class="home">
	<button class="mdc-button mdc-button--outlined" value="home">
		Home
	</button>
	</form>
		<% end %>
	
</body>
</html>